body{
    background-color: rgb(4,29,29);
}
.cantainer{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
}
input{
    width: 270px;
    padding: 8px;
    border: solid ;
    font-size: 19px;
    outline: none;
    }
button{
    width: 60px;
    height: 41px;
    background-color: rgb(4,29,29);
    border-radius: 2px;
    font-size: 19px;
    outline: none;
    border: none;
}
