*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 740px;
    object-fit: cover;
}
.cantainer{
    width: 300px;
    height: auto;
    text-align: center;
    color: white;
    background-color: black;
    margin-left: 36%;
    margin-top: 7%;

}
.cantainer.text{
    position: relative;
    margin top: 7%;
    
}
.ip1{
   border: none;
   background-color: black;
   border-bottom: 2px solid white;
   font-size: 20px;
   margin-top: 40px;
   outline: none;
   color: white;
   width: 250px;
}
.ip2{
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
    font-size: 20px;
    color: white;
    outline: none;
    width: 250px;
    margin-top: 40px;

}
p{
    margin-top: 30px;
    font-size: 20px;
    margin-top: 20px;
}
p span{
    color: aqua;
}
.text button{
    width:150px ;
    height: 44px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 20%;
    margin-top: 20px;
    font-size: 22px;
}
button:hover{
    background-color: black;
    border: 2px solid aqua;
    font-size: 20px;
    color: white;
}
.cantainer h1{
    color: aqua;
}
p:hover{
    background-color: aqua;
    color: black;
    border-radius: 50px;
}